@font-face {
  font-family: "Opensans";
  src: url("assets/font/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ibm";
  src: url("assets/font/IBM/IBMPlexMono-Regular.ttf") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid black;
}

.home-button {
  padding-left: 2.5rem;
}

.text-wrapper {
  position: relative;
  width: 100vw;
}

section {
  position: absolute;
  width: 100%;
  transition: opacity 0.3s, transform 1s;
}

.invisible {
  opacity: 0;
}

.active {
  opacity: 1;
  /* transform: perspective(1000px) translateZ(-100px);
  transform: translateY(-10px); */
  /* transform: perspective(100%) translate3d(0, -100px, -10px); */
}

.text {
  font-family: "Opensans";
  width: 90%;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  font-size: 4rem;
  line-height: 100px;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 27px;
  display: flex;
  justify-content: center;
}

.cta {
  width: 18%;
  height: 100%;
  background: #dcdb35;
  border: 1px solid #000000;
  border-bottom: 0;
  font-family: "ibm";
  font-size: 1.18rem;
  text-align: center;
}
